<component name="ArtifactManager">
  <artifact type="war" name="springrestclass:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springrestclass.war">
      <element id="artifact" artifact-name="springrestclass:war exploded" />
    </root>
  </artifact>
</component>